/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
}

.proj-container ul {
  list-style-type: none;
}
.proj-container a {
  text-decoration: none;
}
.proj-container h1,
.proj-container h2,
.proj-container h3,
.proj-container h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
.proj-container h1 {
  font-size: 3rem;
}
.proj-container h2 {
  font-size: 2.2rem;
}
.proj-container h3 {
  font-size: 1.25rem;
}
.proj-container h4 {
  font-size: 0.875rem;
}
.project-text p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  .proj-container h1 {
    font-size: 4rem;
  }
  .proj-container h2 {
    font-size: 2.2rem;
  }
  .proj-container h3 {
    font-size: 1.75rem;
  }
  .proj-container h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  .proj-container h1,
  .proj-container h2,
  .proj-container h3,
  .proj-container h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Menu
===============
*/

.menu {
  padding: 5rem 0;
}
.projects-title {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.project-underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-btn {
  background: rgb(255, 255, 255);
  border-color: transparent;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}
.filter-btn:focus {
  background: var(--clr-gold);
  color: var(--clr-white);
}
.filter-btn.active {
  background: var(--clr-gold);
  color: var(--clr-white);
  border: 2px solid rgb(44, 44, 44);
}
.project-section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  margin-bottom: 20vh;
}
.menu-project {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.project-info header {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.project-info h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.project-text {
  margin-bottom: 0;
  padding-top: 1rem;
  font-family: Arial, sans-serif;
  color: var(--clr-grey-5);
  font-size: 1rem;
}
.Extra-btn {
  background-color: var(--clr-gold);
  color: white;
  padding: 0.25rem;
  margin: 0.25rem;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.9rem;
}
#ExtraBtn {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .menu-project {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
    width: 100%;
    margin: auto;
  }
  .photo {
    height: 185px;
  }
}
@media screen and (min-width: 1200px) {
  .project-section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    min-height: 180px;
    grid-auto-rows: 1fr;
  }
}
